.advantages {
  background-color: #f2f2f2;
  font-size: 24px;
  font-weight: lighter;
  color: $main-color;
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.advantages__image--only-desktop {
  display: none;
}

.advantages__image {
  height: 303px;
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 24px;
}

.advantages__list-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.advantages__list {
  list-style: none;
}

.advantages__list-description {
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet) {
  .advantages__wrapper {
    min-width: $tablet;
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-subtitle {
    font-size: 40px;
    width: 545px;
    line-height: normal;
    margin: 0 auto;
  }

  .advantages__list {
    width: 293px;
    order: 2;
  }

  .advantages__image {
    height: 530px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 40% 100%;
    margin: 0;
  }

  .advantages__wrapper {
    flex-direction: row;
  }
}
