.app-download {
  display: flex;
  flex-direction: column;
  background-color: #1d2631;
}

.app-download__market-info {
  font-size: 14px;
  font-weight: lighter;
  color: white;
}

.app-download__link {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 3px solid white;
  border-radius: 35px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  display: block;
}

.app-download__slogan {
  display: none;
  font-size: 40px;
  font-weight: 300;
  line-height: 50px;
  color: white;
}

.app-download__market-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  min-width: 320px;
  padding: 0;
}

.app-download__container {
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 110px, 50% -67px;
  background-size: auto, contain;
}

.app-download__inner {
  width: 320px;
  margin: 0 auto;
  margin-top: 400px;
  min-height: 252px;
  padding: 0 19px 0 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet) {
  .app-download__container {
    display: flex;
    width: auto;
    min-height: 618px;
    margin: 0;

    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 49% 98%, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
  }

  .app-download__slogan {
    display: block;
    margin: 0;
    padding: 0 45px 10px 63px;
    margin-bottom: 18px;
    text-align: center;
  }

  .app-download__inner {
    margin: 0;
    margin-top: 100px;
  }
}
