.contacts__title {
  font-size: 24px;
  font-weight: normal;
  background-color: white;
}

.contacts__list {
  list-style: none;
  background-color: white;
}

.contacts__name {
  font-size: 18px;
  font-weight: bold;
}

.contacts__value {
  font-size: 24px;
  color: $font-info;
}

.contacts__map {
  background-image: url("../img/bg-triangle-white-footer.svg");
}

.contacts__map-wrapper {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 -450px;
  min-width: 320px;
  height: 250px;
}

@media (min-width: $tablet) {
  .contacts__title {
    font-size: 40px;
    line-height: normal;
    width: 370px;
    margin: 0 auto;
  }

  .contacts__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 45%;
  }
}
