.photos__title {
  font-size: 14px;
  font-weight: normal;
}
.photos__item-author {
  font-weight: bold;
}
.photos__item-post-time {
  font-weight: lighter;
}
.photos__item-like {
  font-size: 12px;
  color: #d22856;
}
