@font-face {
  font-family: "opensans";
  font-weight: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  font-weight: bold;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-style: bold;
}

@font-face {
  font-family: "opensans";
  font-weight: lighter;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 320px;
  text-align: center;
  overflow-x: hidden;
  font-family: $font-normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: black;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  top: 0;
  left: 0;
}
